*{
    margin: 0;
    padding: 0;
}

#container{
    height: 300px; 
    width: 600px;
    border: 3px solid;
    margin: 20px;
    padding: 10px;
    background-color:gainsboro;

    display: flex;
    justify-content: center;
    
}

h1{
    margin-left: 220px;
}

.box{
    height: 75px;
    width: 75px;
    border: 3px solid;
    margin: 5px;
    flex-grow: 1;
}

#box1{background-color: aqua;}
#box2{
    background-color: blueviolet;
    flex-grow: 5;
}
#box3{
    background-color: yellow;
}
#box4{background-color: tomato;}